p {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    font-family: 'Space Mono', monospace;
    background-image: url('../assets/background.png');
    
    background-repeat: repeat;
    background-size: 140px;
}

* {
    box-sizing: border-box;
}

a{
    color: #181818;
    margin: 12px;
    text-align: left;
    text-decoration: none;
}

h1 {
    color: #3A2E39;
    font-size: 1.5rem;
}

h1 a:hover {
    background-color: white;
    color: #3454D1;
}

.column-view {
    display: flex;
    flex-wrap: wrap;
}

.directory {
    flex: 30%;
    padding: 20px;
}

.content {
    flex: 70%;
    padding: 20px;
}

.directory a {
    color: #181818;
    margin: 12px;
    text-align: left;
    text-decoration: none;
}

.sidebar {
    margin-left: 22px;
}

p a {
    margin: 0px;
    color: #3454D1;
}

a:hover {
    background-color: #181818;
    color: white;
}

.terminal {
    max-width: 960px;
    margin: auto;
    margin-top: 50px;
    background: white;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.window {
    padding: 20px;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer {
    padding: 20px;
    max-width: 960px;
    margin: auto;
    text-align: left;
    color: #181818;
}

h3,h4 {
    margin-top: 0px;
}

h3 {
    font-family: 'Nunito Sans', sans-serif;
}

@media screen and (max-width: 700px) {
    .column-view {
        flex-direction: column;
    }
}

.green {
    color: #3454D1;
}